* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #000;
  color: white;
  overflow-x: hidden;
}

h2 {
  color: #00ffff;
  text-shadow: 0 0 10px #00ffff;
  font-size: 2rem;
}